/* Sidebar Styles */
.sidebar {
  width: 25%;
  /* 1/4 of the screen width */
  height: 100vh;
  background-color: white;
  color: #f3f4f6;
  /* Text color similar to --text-color in react-flow */
  border-left: 1px solid #6c757d;
  /* Border color similar to border-secondary */
  overflow: auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 0.875rem;
  /* Bootstrap's small text size */
}

.sidebar h2 {
  padding: 1rem;
  border-bottom: 1px solid #6c757d;
  /* Border color for border-bottom */
  font-size: 1.25rem;
  /* Bootstrap's h5 font size */
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(200, 255, 190, 0.45);
}

/* Background for table header */
table thead {
  background-color: #c8ffbe;
  border-top: #0C4842 1px solid;
  border-bottom: #0C4842 1px solid;
  /*box-sizing: border-box;*/
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  color: rgb(17, 17, 17);
  /* Text color like --text-color */
  white-space: nowrap;
  /* Prevent line breaks inside the cells */
  overflow: hidden;
  text-overflow: ellipsis;
}


.table td:nth-child(3),
.table th:nth-child(3),
/* Source column */
.table td:nth-child(4),
.table th:nth-child(4) {
  /* Target column */
  max-width: 150px;
  /* Adjust width as needed */
}

.table td:nth-child(2), .table th:nth-child(2) { /* Time column */
  max-width: 80px; /* Narrow column for hh:mm:ss */
}


table th {
  font-size: 0.875rem;
  /* Bootstrap's small text size */
}

table tbody tr {
  height: 50px;
  /* Fixed row height */
}

table tbody tr:hover {
  background-color: #8dd3ff;
  /* Hover effect similar to table-hover */
}

table .table-primary {
  background-color: #2a8af6;
  /* Blue background for highlighted rows */
}

.text-muted {
  color: #0C4842 !important;
    font-weight: bold;
}

.text-metadata {
  font-size: 1rem;
    border-bottom: #0C4842 1px solid;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  /* Adjust this to your preference */
}

.text-truncate:hover {
  cursor: pointer;
}

.small {
  font-size: 0.875rem;
}
