/* Sidebar Styles */
.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #f0eee6;
  color: #f3f4f6;
  border-left: 1px solid #6c757d;
  overflow: auto;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 0.875rem;
}

.sidebar h2 {
  padding: 1rem;
  font-size: 1.25rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(200, 255, 190, 0.45);
  border-bottom: #0C4842 1px solid;
}

/* Background for table header */
table thead {
  background-color: #c8ffbe;
  border-top: #0C4842 1px solid;
  border-bottom: #0C4842 1px solid;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  color: rgb(17, 17, 17);
  /* Text color like --text-color */
  white-space: nowrap;
  /* Prevent line breaks inside the cells */
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:nth-child(3),
.table th:nth-child(3),
/* Source column */
.table td:nth-child(4),
.table th:nth-child(4) {
  /* Target column */
  max-width: 150px;
}

.table td:nth-child(2), .table th:nth-child(2) { /* Time column */
  max-width: 80px; /* Narrow column for hh:mm:ss */
}

table th {
  font-size: 0.875rem;
  /* Bootstrap's small text size */
}

table tbody tr {
  height: 50px;
  /* Fixed row height */
}

table tbody tr:hover {
  background-color: #8dd3ff;
  /* Hover effect similar to table-hover */
}

table .table-primary {
  background-color: #2a8af6 !important;
  /* Blue background for highlighted rows; important to cover bg-danger */
}

.text-muted {
  color: #0C4842 !important;
    font-weight: bold;
}

.text-metadata {
  font-size: 1rem;
    border-bottom: #0C4842 1px solid;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.text-truncate:hover {
  cursor: pointer;
}

.small {
  font-size: 0.875rem;
}

table td .mb-2 {
  margin-top: 0.6rem;
}

.bg-danger {
  background-color: rgba(255, 0, 0, 0.5);
  color: #ffffff;
}
